*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0, 0.1);
}

img {
    border-radius: 8px;
    background-size: cover;
}

.textoPorCima{
    display: flex;
    position: relative;
    left: 25%;
}

.h1Header {

}

.h2Header {

}

.h3Header {
}

.imageHeader {
    width: 1152px;
    max-width: 1152px;
    height: 172px;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;

}

.alignImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader {
    height: 132px;
    width: 132px;
    top: 125px;
    left: 175px;
    position: absolute;
    border-radius: 8px;
}

.mainLogo{
    display: flex;
}

.info {
    width: 32px;
    height: 32px;
    position: relative;
    left: 5px;
    top: 10px;
}

.share {
    width: 32px;
    height: 32px;
    position: relative;
    left: 10px;
    top: 10px;
}

.buttonVerMapa {
    position: relative;
    left: 25%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
    position: relative;
}

.buttonVerMapa:hover {
    background-color: #45a049;
}

.estiloButton {
    height: 32px;
    padding: 8px 12px;
}

main {
    margin: 2rem;
}

.btn-verde {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
    bottom: 60px;
    position: relative;
    left: 39%;
}

.btn-verde:hover {
    background-color: #45a049;
}

.btn-verde:focus {
    outline: none; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 1000px;
}

li {
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,1.0);
}

li h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
}

li p {
    font-size: .95rem;
    text-align: left;
    letter-spacing: .01em;
    font-weight: 300;
    word-break: break-word;
    text-transform: lowercase;
    color: #444;
}

li span {
    padding: 6px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0);
    max-width: 80px;
    font-weight: bolder !important;
    font-family: ChirpBold;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: #444;
}

li input[type="number"] {
    width: 50px;
    margin-right: 10px;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

}

li button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin: 2rem 0;
}

.gridItens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.gridProducts {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.entradas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sendOrder {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#sendOrder:hover {
    background-color: #1ebd50;
}

.main-content {
    font-family: Georgia, serif;
    background-color: #ffffff; 
    box-shadow: 0 0 2px rgba(0,0,0,1.0);
}

@media (max-width: 768px) {
    .text-overlay h1 {
        font-size: 1.5em;
    }

    .text-overlay h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .text-overlay h1 {
        font-size: 1.2em;
    }

    .text-overlay h2 {
        font-size: 1em;
    }
}